@import url('https://fonts.googleapis.com/css2?family=Coustard&family=Lato:wght@300&family=Lexend+Deca:wght@100;400&family=Roboto+Mono&family=Share&family=Source+Serif+Pro&family=Work+Sans&display=swap');
/*apply general styling below here*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

/*style my body down below*/
body {
    font-family: work-sans, sans-serif;
    color: #f5f5f5;
    background-color: black;
    background-image: url("../images/pexels-ylanite-koppens-697662.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*lets apply style to our header below here*/
.header {
    border: 2px solid #a87b32;
    background-color: black;
    margin-top: 30px;
    box-shadow: -10px 25px rgba(0, 0, 0, 0.5);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2px;
    height: 20vh;
    text-align: center;
    padding: auto;
    line-height: 50px;
    font-size: smaller;
    border-radius: 10px;
}

/*apply style for the navigation links down below*/
.nav {
    color: #f5f5f5;
    text-decoration:underline;
}
#mymenu {
    font-size: large;
    text-align: center;
    margin-top: 30px;
}

#mymenu li {
    display: inline-block;
    margin-right: 15px;
}

/*apply style to question box*/
#question  {
    background-color: black;
    font-weight: 300;
    letter-spacing: 2px;
    border-radius: 10px;
    border: 2px solid #a87b32;
    width: 50%; 
    margin: auto;
    margin-top: 100px;
    height: 50vh;
    box-shadow: -10px 25px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btn {
    cursor: pointer
}
