@import url('https://fonts.googleapis.com/css2?family=Coustard&family=Lato:wght@300&family=Lexend+Deca:wght@100;400&family=Roboto+Mono&family=Share&family=Source+Serif+Pro&family=Work+Sans&display=swap');
/*apply general styling below here*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

/*style my body down below*/
body {
    font-family: work-sans, sans-serif;
    color: #f5f5f5;
    background-color: black;
    background-image: url("../images/pexels-ylanite-koppens-697662.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*lets apply style to our header below here*/
.header {
    border: 2px solid #a87b32;
    background-color: black;
    margin-top: 15px;
    box-shadow: -10px 25px rgba(0, 0, 0, 0.5);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2px;
    height: 20vh;
    line-height: normal;
    text-align: center;
    padding: auto;
    font-weight: 100;
    line-height: 50px;
    font-size: smaller;
    border-radius: 15px;
}
#second-p {
    font-size: 18px;
    line-height: 35px;
}
/*apply style for the navigation links down below*/
.nav {
    color: #f5f5f5;
    text-decoration:underline;
}
#mymenu {
    font-size: large;
    text-align: center;
}

#mymenu li {
    display: inline-block;
    margin-right: 15px;
}

/*apply style to question box*/
#question  {
    background-color: black;
    font-weight: 300;
    letter-spacing: 2px;
    border-radius: 15px;
    border: 2px solid #a87b32;
    width: 95%; 
    margin: auto;
    margin-top: 80px;
    height: 50vh;
    box-shadow: -10px 25px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btn {
    cursor: pointer
}
/*style main 'estimator - counter' window here*/
#counter  {
    background-color: black;
    border-radius: 15px;
    border: 2px solid #a87b32;
    width: 95%; 
    letter-spacing: 2px;
    margin: auto;
    margin-top: 80px;
    height: 130vh;
    box-shadow: -10px 25px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#counter-p {
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 2px;
}

.span {
    font-size: 20px;
}
#footer {
        border: 2px solid #a87b32;
        background-color: black;
        margin-top: 15px;
        box-shadow: -10px 25px rgba(0, 0, 0, 0.5);
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
        letter-spacing: 2px;
        height: 20vh;
        line-height: normal;
        text-align: center;
        padding: auto;
        font-weight: 100;
        line-height: 50px;
        font-size: 20px;
        border-radius: 15px;
        margin-bottom: 15px;
    
}
#range-finder {
    font-size: large;
}
#return, #mail {
    color: #f5f5f5;
    text-decoration:underline;
}
.bottom {
    text-decoration: none;
    font-size: x-small;
    height: 20px;
}

/*style my game container below here*/
#game {
    background-color: black;
    border-radius: 15px;
    border: 2px solid #a87b32;
    width: 95%; 
    letter-spacing: 2px;
    margin: auto;
    margin-top: 80px;
    height: 80vh;
    box-shadow: -10px 25px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: small;
}

/* work on buttons*/
.btn {
    font-size: large;
    font-weight: bold; 
    background: #a87b32;
    border-radius: 15px;
    padding: 10px;
    color: #f5f5f5;
    margin: 5px;
    cursor: pointer;
 }
.content {
    margin-top: 25px;
}
#question-text {
    margin-bottom: 25px;
    font-size: large;
    letter-spacing: 2px;
}
.controls {
    margin-top: 50px;
}

 .hide {
    display: none;
 }
 #description {
     margin-bottom: 100px;
     margin-top: 10px;
     letter-spacing: 2px;
     font-size: 20px;
 }
 .score {
     font-size: 20px;
 }


 /*add media query*/
 @media screen and (max-width: 720px) {
    .header {
        border: 2px solid #a87b32;
        background-color: black;
        margin-top: 15px;
        box-shadow: -10px 25px rgba(0, 0, 0, 0.5);
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 2px;
        height: 30vh;
        line-height: normal;
        text-align: center;
        padding: auto;
        font-weight: 100;
        line-height: 50px;
        border-radius: 15px;
    }


    /*media query for the counter below*/

    }
    #counter {
        font-size: x-small;
    }
    #counter-p {
        margin-top: 15px;
        margin-bottom: 100px;
        font-size: 18px;
    }
 
    #game {
        height: 90vh;
    }
    #question {
        height: 65vh;
    }
